/* AM: Stylesheet looks pretty good. Please be consistent with indentation though! */

body {
  background-image: url(Background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  margin-right: auto;
  margin-left: 550px;
}
img {
    height: 50% ;
    width:  50% ;
}

section {
    margin-top: 0px;
    margin-right:200px ;
    margin-left: 200px ;
    margin-bottom: 75px;
    text-align: center;
    background-color: #F0F2F5;
    height: 700px;
    width : 1200px;
    background-color: white;
    border: 2px black;
    border-radius: 50px;

  }
#qImage {
  height: 75%;
  width: 75%;
}

h1{
font-size: 30px;
font-style: oblique;

}

  p {
    font-size: 28px;
    text-align: justify;
    display:inline-block;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: -75px;
    /*padding-bottom: 15px;*/
}

form {
  text-align: center;
  font-size: 25px;
  margin-left: 100px;
  display:inline-block;
  padding-top: -100px;
}
.looser {
  background-image: url(terrible.gif);
}
.winner {
  background-image: url(Winner.gif);
}
.alright {
  background-image: url(Watchmoretopgear.gif);
}
